@using Agile4SMB.Shared.Domain
@using Agile4SMB.Client.Services
@using Agile4SMB.Client.Utils
@inject UserUnitService UserUnitService

@if (SelectedUnit != null && _projects != null)
{
    <div class="list-group">
        @foreach (var project in _projects)
        {
            <div class="list-group-item selectable list-group-item-action @(project == ProjectSelectObserver.Item ? "active" : "")"
                 @onclick="@(e => ProjectSelectObserver.Select(project))">
                <div class="d-flex w-100 justify-content-between">
                    <small>@UserUnitService.GetOrganizationUnit(project.UnitId)?.Name</small>
                    <small class="badge badge-pill badge-light">@project.StringState.ToLower()</small>
                </div>
                <p class="mb-1 pt-2">@project.Id</p>
            </div>
        }
    </div>
}

@code {
    [Parameter] public OrganizationUnit SelectedUnit { get; set; }
    [Parameter] public ISelectObserver<Project> ProjectSelectObserver { get; set; }

    private IEnumerable<Project> _projects;

    protected override async Task OnParametersSetAsync()
    {
        var unit = SelectedUnit ?? await UserUnitService.GetCurrentUnit();
        _projects = await UserUnitService.GetUnitProjects(unit.Id);
    }
}