@using Blazor.DragDrop.Core
@using Agile4SMB.Shared
@using Agile4SMB.Client.Services
@using Agile4SMB.Client.Utils

@inject UserService UserService


<div class="list-group">

    @foreach (var project in _projects)
    {
        <div class="list-group-item selectable list-group-item-action @(project==SelectObserver.Item?"active":"")"
             @onclick="@(e => SelectObserver.Select(project))">
            <div class="d-flex w-100 justify-content-between">
                <small>@UserService.GetOrganizationUnit(project.UnitId).Name</small>
                <small class="badge badge-pill badge-light">@project.StringState.ToLower()</small>
            </div>
            <p class="mb-1 pt-2">@project.Name</p>
        </div>
    }
</div>

@code {

    [Parameter] public BacklogDefinitionDTO BacklogDefinition { get; set; }

    [Parameter] public ISelectObserver<ProjectDTO> SelectObserver { get; set; }
    
    private IEnumerable<ProjectDTO> _projects;

    protected override Task OnParametersSetAsync()
    {
        var backlog = UserService.GetBacklog(BacklogDefinition);
        _projects = backlog.Projects;

        return base.OnParametersSetAsync();
    }

}
