@using Agile4SMB.Shared
@using Agile4SMB.Client.Services
@using Agile4SMB.Client.Utils

<div class="pl-4 list-group-item list-group-item-action 
     @(Unit==SelectObserver.Item?"active":"")"
     @onclick="@(e => SelectUnit(Unit))"
     @onclick:stopPropagation="@true">
    
    <div class="d-flex w-100 justify-content-between mb-2 selectable">
        <p class="h6">@Unit.Name</p>
        @*<button class="btn btn-sm btn-success" @onclick="()=>AddChild(Unit)"><i class="oi oi-plus" />Новое</button>*@
    </div>


    @foreach (var child in Unit.Children)
    {
        <OrganizationUnitTree Unit="@child" SelectObserver="@SelectObserver" />
    }

</div>

@code {

    [Parameter] public ISelectObserver<OrganizationUnitDTO> SelectObserver { get; set; }
    [Parameter] public OrganizationUnitDTO Unit { get; set; }
    
    private void SelectUnit(OrganizationUnitDTO unit)
    {
        SelectObserver.Select(unit);
    }

}
